ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: rgb(247, 241, 241);
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}
h1 {
    text-align: center
}
h2 {
    text-align: center
}
p1 {
    text-decoration: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: initial

}
p2 {
    text-align: center

}
body {
    box-sizing: border-box;
    font-size: 0px;
    
}
